<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>APIs de Referencia </h2>
        </div>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://covid19-brazil-api.now.sh/api/report/v1/brazil">https://covid19-brazil-api.now.sh/api/report/v1/brazil
                    </a>
                </li>
                <li class="list-group-item"><a href="https://corona.lmao.ninja">https://corona.lmao.ninja </a></li>

            </ul>
        </div>
    </div>
</div>