<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2>INFORMAÇÕES ÚTEIS PARA A SUA PROTEÇÃO </h2>
        </div>
        <div class="col-12 mt-3">
            <h4>Sintomas</h4>
            <p>Segundo dados disponíveis até o momento, a maior parte das pessoas desenvolvem sintomas a partir do 5º
                dia de contágio. São eles:</p>
            <ul>
                <li>dor de cabeça</li>
                <li>dor muscular</li>
                <li>febre</li>
                <li>Tosse</li>
                <li>dificuldade de respirar</li>
                <li>cansaço</li>
                *No entanto, nem todos os sintomas aparecerem.
            </ul>
            <p>
                A maioria das pessoas (cerca de 80%) desenvolve sintomas leves e algumas nem chegam a apresentá-los, mas
                mesmo assim são transmissoras do vírus. Por isso evitar aglomerações é uma das medidas fundamentais
                durante esse momento.
            </p>
            <p>
                Os casos de sintomas leves devem ser tratado como uma gripe comum, com repouso, boa alimentação e muita
                ingestão de líquidos. Ir a um hospital, nesses casos, seria uma exposição desnecessária a outros vírus
                do ambiente hospitalar, além de comprometer os leitos destinados aos casos mais vulneráveis (idosos
                acima de 60 anos, diabéticos, hipertensos, pessoas com insuficiência renal crônica e doença respiratório
                crônica).
            </p>
            <h4 class="mt-4">Contágio e medidas preventivas</h4>
            <p>Assim como a gripe, o coronavírus é transmitido por secreções (saliva e catarro) e gotículas de água que
                são expelidas quando a gente fala, tosse ou espirra.</p>
            <p>A pessoa se infecta ao inalar essas gotículas ou tocar uma superfície contaminada pelo vírus, e depois
                levar a mão aos olhos, à boca ou ao nariz. Por isso, a única maneira de evitar o vírus é não ter contato
                com ele, lavando as mãos com frequência e evitando aglomerações.</p>
            <p>
                Justamente por esse motivo, quem apresenta sintomas leves deve se manter em casa para evitar a
                transmissão em ambientes de uso coletivo. Ser consciente desse risco em relação aos demais irá salvar
                muitas vidas, principalmente dos mais vulneráveis.
            </p>
            <p>
                Não tem fórmula mágica que resolva, por isso fique atento às fakes news espalhadas pelas redes sociais:
                água quente, chá, vinagre, luz solar, entre outras, nada disso mata o coronavírus. Por isso, sempre
                busque fontes confiáveis para obter mais informações a respeito do vírus.
            </p>
            <h4 class="mt-4">Prevenção</h4>
            <img src="assets/images/prevencao-coronavirus-v2-387x1024.jpg" class="img-fluid mb-4" alt="">
            <p>O uso do álcool em gel é apenas um recurso paliativo para quando estivermos na rua, porque a maneira mais
                eficaz é lavar bem as mãos com água e sabão.</p>
            <p>Além disso, a lavagem das mãos deve ser um pouco mais demorada (cerca de 30 segundos) e detalhada para
                eliminar qualquer risco. Na página do jornal Estadão há um vídeo em detalhes com a maneira certa de
                lavar as mãos segundo a Organização Mundial da Saúde:</p>
            <p>Quando precisar sair, é muito importante o uso de máscaras.</p>
            <p><strong>Vale lembrar que o distanciamento social nesse momento é umas das medidas mais eficazes para
                    protegermos
                    nossos amigos e parentes mais vulneráveis. Por isso, siga essa e as demais recomendações com a
                    seriedade
                    que assunto exige.</strong></p>
        </div>
    </div>
</div>